# ---------------------------------------
#             if elseif else
# ---------------------------------------
snippet ifel "Description" b
@if ($1)
	$4
@elseif ($2)
	$5
@else
	$6
@endif
endsnippet


# ---------------------------------------
#             push define
# ---------------------------------------
snippet push "Description" b
@push("$1")
  $2
@endpush
endsnippet
