# ---------------------------------------
#             if elseif else
# ---------------------------------------
snippet ifel "Description" b
@if ($1)
	$4
@elseif ($2)
	$5
@else
	$6
@endif
endsnippet


# ---------------------------------------
#             push define
# ---------------------------------------
snippet push "define push" b
@push("$1")
  $2
@endpush
endsnippet


# ---------------------------------------
#             if else
# ---------------------------------------
snippet if "snippet_description" b
@if (${1})
	${2}
@else
	${3}
@endif
endsnippet
