# ---------------------------------------
#             class(basic)
# ---------------------------------------
snippet cls "basic class" b
class $1 {
		$1({$4$3});
		final $2 $3;
}
endsnippet

# ---------------------------------------
#             named route
# ---------------------------------------
snippet route "materialApp route" b
initialRoute: "$1",
routes: {
		"$1": (context) => $2(),
		"$3": (context) => $4(),
},
endsnippet

# ---------------------------------------
#             comment ///
# ---------------------------------------
snippet cm "Description" b
/// $1
endsnippet


# ---------------------------------------
#             static define
# ---------------------------------------
snippet stt "Description" b
static const $1 $2 = $3;
endsnippet


# ---------------------------------------
#        call static defined
# ---------------------------------------
snippet stc "Description" b
$1.$2
endsnippet


# ---------------------------------------
#    import material dart pack
# ---------------------------------------
snippet material "snippet_description" b
import 'package:flutter/material.dart';
endsnippet


# ---------------------------------------
#           define final
# ---------------------------------------
snippet fi "snippet_description" b
final ${1:const} ${2:int} ${3:var_name};
endsnippet


# ---------------------------------------
#             constructor
# ---------------------------------------
snippet _cs "snippet_description" b
${1}({ ${2} });
endsnippet


# ---------------------------------------
#             required
# ---------------------------------------
snippet reqd "snippet_description" b
@required this.${1}
endsnippet

