# ---------------------------------------
#             class(basic)
# ---------------------------------------
snippet cls "basic class" b
class $1 {
		$1({$4$3});
		final $2 $3;
}
endsnippet

# ---------------------------------------
#             named route
# ---------------------------------------
snippet route "materialApp route" b
initialRoute: "$1",
routes: {
		"$1": (context) => $2(),
		"$3": (context) => $4(),
},
endsnippet

# ---------------------------------------
#             comment ///
# ---------------------------------------
snippet cm "Description" b
/// $1
endsnippet


# ---------------------------------------
#             static define
# ---------------------------------------
snippet stt "Description" b
static const $1 $2 = $3;
endsnippet


# ---------------------------------------
#        call static defined
# ---------------------------------------
snippet stc "Description" b
$1.$2
endsnippet

