# ---------------------------------------
#             console.log
# ---------------------------------------
snippet clg "console.log()" b
console.log(${1:'$2', $3});
endsnippet


# ---------------------------------------
#           import "" from ""
# ---------------------------------------
snippet imp "import from ''" b
import { $1 } from '$2';
endsnippet

# ---------------------------------------
#        import React from 'react'
# ---------------------------------------
snippet imr "import from ''" b
import React from 'react';
endsnippet


# ---------------------------------------
#        import React from 'react'
# ---------------------------------------
snippet ecr "export const" b
export const $1 = ($2) => {
		$3
		return (
				<>
						$4
				</>
		)
}
endsnippet


# ---------------------------------------
#        document.getElementById
# ---------------------------------------
snippet ele "document.getElementById" b
if (document.getElementById('$1')) {
    ReactDOM.render(<$2/>, document.getElementById('$1'))
}
endsnippet


# ---------------------------------------
#        useStyles (material ui)
# ---------------------------------------
snippet ustl "Material Ui useStyles" b
const useStyles = makeStyles((theme) => ({
    $1: {
        $2: '$3',
    },
		$4: {
				$5
		},
}));
endsnippet


# ---------------------------------------
#        		styled-components
# ---------------------------------------
snippet styl "styled-components" b
const $1 = styled.$2`
		$3
`
endsnippet

# ---------------------------------------
#        my react base format
# ---------------------------------------
snippet reactbase "export const" b
import React from 'react'
export const $1 = ($2) => {
		$3
		return (
				<>
						$4
				</>
		)
}
endsnippet


# ---------------------------------------
#                if
# ---------------------------------------
snippet if "if" b
const $1 = ($2) ? $3 : $4;
endsnippet

