# ---------------------------------------
#             basic func
# ---------------------------------------
snippet func "Description" b
public function $1($2)
{
		$3; 
}
endsnippet


# ---------------------------------------
#             return func
# ---------------------------------------
snippet funcr "simple return function" b
public function $1($2)
{
		return $3;
}
endsnippet

# ---------------------------------------
#             php model
# ---------------------------------------
snippet mdl "basic model" b
$1 = $this->$2->$3;
endsnippet


# ---------------------------------------
#             foreach
# ---------------------------------------
snippet fr "foreach" b
foreach ($1 as $2) {
		$3;
}
endsnippet


# ---------------------------------------
#             transaction
# ---------------------------------------
snippet trans "transaction" b
\DB::beginTransaction();
try {
		$1;
		\DB::commit();
} catch (Throwable $th) {
		\DB::rollback();
		\Log::info($th);
}
endsnippet


# ---------------------------------------
#             class temp
# ---------------------------------------
snippet class "class temp" b
class ${1} extends ${2} 
{

	public function __construct(${4})
    	{
				${3};
    	}

}
endsnippet


# ---------------------------------------
#             route func
# ---------------------------------------
snippet routefunc "routefunc" b
Route::group(['prefix' => '${1}'], function () {
        Route::${2}('${3:routeUrl}', '${4:controllerName}@${5:functionName}');
    });
endsnippet


# ---------------------------------------
#             add route 
# ---------------------------------------
snippet route "simple route" b
Route::${1}('${2:routeUrl}', '${3:controllerName}@${4:functionName}');
endsnippet

