# ---------------------------------------
#             from import 
# ---------------------------------------
snippet imr "Description" b
from $1 import $2
endsnippet


# ---------------------------------------
#             class statement
# ---------------------------------------
snippet cls "Description" b
class $1($2):
		$2
endsnippet


# ---------------------------------------
#             def statement
# ---------------------------------------
snippet def "Description" b
def $1($2):
		$3
endsnippet
