# ---------------------------------------
#             var declare
# ---------------------------------------
snippet var "variable declare" b
$$1: $2;
endsnippet


# ---------------------------------------
#             if scss
# ---------------------------------------
snippet  "Description" b

endsnippet


# ---------------------------------------
#             base css format
# ---------------------------------------
snippet sc "Description" b
$1 {
	$2: $3;
}
endsnippet


# ---------------------------------------
#            comment scss
# ---------------------------------------
snippet cm "comment" b
/* $1 */
endsnippet
