# ---------------------------------------
#             var declare
# ---------------------------------------
snippet var "variable declare" b
$$1: $2;
endsnippet


# ---------------------------------------
#             if scss
# ---------------------------------------
snippet  "Description" b

endsnippet
