snippet cm "comment" b
# ---------------------------------------
#             $1
# ---------------------------------------
endsnippet

# ---------------------------------------
#       	   snippet templete
# ---------------------------------------
snippet sni "snippet templete" b
# ---------------------------------------
#             $1
# ---------------------------------------
${1:snippet} $2 "${3:snippet_description}" b
${3}
${4:endsnippet}
endsnippet

