# ---------------------------------------
#             install format
# ---------------------------------------
snippet plu "plugins" b
# ---------------------------------------
#             $1
# ---------------------------------------
[[plugins]] 
repo = "$2"
endsnippet

# ---------------------------------------
#             comment snips
# ---------------------------------------
snippet cm "toml comment" b
# ---------------------------------------
#             $1
# ---------------------------------------
endsnippet


# ---------------------------------------
#       install format with hook
# ---------------------------------------
snippet plh "Description" b
# ---------------------------------------
#             $1
# ---------------------------------------
[[plugins]] 
repo = "$2"
hook_add = """
  $3
"""
endsnippet

