# ---------------------------------------
#             install format
# ---------------------------------------
snippet plu "plugins" b
[[plugins]] 
repo = "$1"
endsnippet

# ---------------------------------------
#             comment snips
# ---------------------------------------
snippet cm "toml comment" b
# ---------------------------------------
#             $1
# ---------------------------------------
endsnippet

