# ---------------------------------------
#             install format
# ---------------------------------------
snippet plu "plugins" b
[[plugins]] 
repo = "$1"
endsnippet

# ---------------------------------------
#             comment snips
# ---------------------------------------
snippet cm "toml comment" b
# ---------------------------------------
#             $1
# ---------------------------------------
endsnippet


# ---------------------------------------
#       install format with hook
# ---------------------------------------
snippet plh "Description" b
[[plugins]] 
repo = "$1"
hook_add = """
  $2
"""
endsnippet

