# ---------------------------------------
#             comment vim
# ---------------------------------------
snippet cm "comment for .vim" b
" ---------------------------------------
"           ${1} 
" ---------------------------------------
endsnippet


# ---------------------------------------
#       install plugin vim-plug
# ---------------------------------------
snippet plu "install plugin via vim-plug" b
" ---------------------------------------
"           ${1} 
" ---------------------------------------
Plug '${1:githubUrl}'
endsnippet

