# ---------------------------------------
#             comment vim
# ---------------------------------------
snippet cm "comment for .vim" b
" ---------------------------------------
"           ${1} 
" ---------------------------------------
endsnippet

